body {
    margin: 0;
    background-image: url(./h2.jpg);
    background-size: cover;
}

#sector {
    font-weight: 500px;
    width: 100%;
    margin: auto;
    float: left;
    padding: 20px 20px;
    text-align:center;
    color: lightslategray;

}

img {
    border-radius: 25px;
    height: 400px;
    width: 300px;
    float:right;
}

.nav-link {
    text-decoration: solid;
    float:right;
    text-transform: uppercase;

}

.navbar-text {
    text-transform: uppercase;
}

.link {
    list-style: none;
    text-transform: uppercase;
    text-shadow:0 4px 8px solid blue;
    font-weight:bold;
    color: lightslategray;
    padding: 15px;
    margin:auto;
    text-align: center;

    

}
.item {
    list-style: none;
    display: inline-block;

    

}

article {
    float:right;
    font-weight: bold;
    text-decoration-color: blue;
    text-align:justify;

}

i {
    font-weight: bold;
    padding-top: 10px;
    margin: auto;
}