button{
    background-color: rgb(149, 215, 21w8);
}
#welcomeSection{
    font-weight: 900;
    color: cornflowerblue;
    margin: auto;
    width: 100%;
    height: 400px;
}
body{
    background-image: url(1.jpg);
    background-size: cover;
}
.navbar{
    background-color: rgba(100, 148, 237, 0.479);
    margin:0px;
}
h1{
    text-align: center;
    padding-top: 250px;
    width: 100%;
}

li {
    float: right;
    font-weight: bolder;
    color: crimson;
}

a {
    list-style: none;
    display: list-item;
    text-decoration: none;
}

a:hover {
    color: blue;
}
p{
    font-style: oblique;
    text-align: center;
    color:rgb(209, 52, 84);
}