nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(218, 104, 104, 0.685);
    color: black;
    min-height: 10vh;

}
li{
    list-style: none;

}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    color:black;
    padding: 12px 16px;
    text-decoration: none;
    display:block;
    text-align: left;
}

li a,.dropbtn{
    display:inline-block;
    color: white;
    text-align: center;
    padding:14px 16px;
    text-decoration: none;
}

li a:hover.dropdown:hover.dropbtn{
background-color: rgb(117, 109,109);
}

li.dropdown{
    display: inline-block;
}
.dropdown-content a:hover{
    background-color: #f1f1f1;
}
.dropdown:hover.dropdown-content{
    display: block;
}

.list{
    display: flex;
    justify-content:space-around;
    color: red;
    list-style: none;
    width: 50%;
}
.list a{
    text-decoration: none;
    color: whitesmoke;
}
h1{
    color: rgb(165, 62, 62);
    font-style: italic;
}
img{
    width: 1400px;

}
.welcome-section{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    
}
body{
    background-image: url(pic.jpg);
    background-size: cover;
    padding: 0;
    margin: 0;
    border-radius: 0ch;
}
h1{
    font-family: sans-serif;
    text-align: center;
    padding:5px;
}
p{
    font-style: italic;
    font-size: larger;
    padding:5px;
    color: white;

}

h3{
    font-size: larger;
}
a{
    padding:5px;
}