nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(218, 104, 104, 0.685);
    color: black;
    min-height: 10vh;

}

.list{
    display: flex;
    justify-content:space-around;
    color: red;
    list-style: none;
    width: 50%;
}
.list li a{
    text-decoration: none;
    color: whitesmoke;
}
h1{
    color: rgb(165, 62, 62);
    font-style: italic;
}
img{
    width: 1400px;

}
.welcome-section{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    
}
body{
    background-image: url(pic.jpg);
    background-size: cover;
    padding: 0;
    margin: 0;
    border-radius: 0ch;
}
h1{
    font-family: sans-serif;
    text-align: center;
    padding:5px;
}
p{
    font-style: italic;
    font-size: larger;
    padding:5px;
    color: white;

}

h3{
    font-size: larger;
}
a{
    padding:5px;
}