.container {
  color: black;
  background-color: palegoldenrod;

  font: italic bold 12px/30px Georgia, serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.img {
  float: left;
}
#p {
  text-align: center;
  color: black;
  position: relative;
}
.fa {
  padding: 20px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3b5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55acee;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}
#topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
#topnav a {
  font-family: "Times New Roman", Times, serif;
  float: center;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

/* Change color on hover
  .topnav a:hover {
    background-color: palegoldenrod;
    color: black;
  }
  */
/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 15px;
  background-color: palegoldenrod;
  font: italic bold 12px/30px Georgia, serif;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
#navbar {
  position: fixed;
  background-color: goldenrod;
  top: 0;
  left: 0;
}
